<p style="color: green"><%= notice %></p>
<div class="card">
  <%= render @card_set %>

  <div>
    <%= link_to "Edit", edit_card_set_path(@card_set) %> |
    <%= link_to "Cards in this set", card_set_cards_path(@card_set) %> |
    <%= link_to "Back", card_sets_path %>
    <div style ="text-align: right;">
      <%= button_to "Delete", @card_set, method: :delete, class: "btn btn-danger" %>
    </div>
  </div
