<p style="color: green"><%= notice %></p>
<h1 style="text-align: center;"><%= @card_set.name %></h1>
<div style="text-align: center; margin-right: -506px;">
  <%= link_to "Edit set", edit_card_set_path(@card_set), class: "btn btn-primary" %>
</div>
<div id="cards" >
  <% @cards.each do |card| %>
    <div class="card">
      <%= render "cards/card", :card => card %>
    <p>
    <div class="btn-group">
    <%= link_to "Show this card", card, class: "btn btn-primary" %> 
    <%= link_to "Learn this card", learn_card_path(card), class: "btn btn-success" %>
    </div>
    </p>
    </div>
  <% end %>
</div>

