<h2 class="card learn-card-text"><%= @blanks_1 %></h2>

<%= form_with url: learn_card_path(@card), method: :put do |form| %>

  <div>
    <%= form.label :copied, "Copy the answer and fill in the blanks:", :class => "form-label" %>
    <%= form.text_area :copied, :value => @copied, :class => "form-control" %>
  </div>

  <br>
  <div>
    <%= form.submit "Submit", :class => "btn btn-primary" %>
  </div>
<% end %>


