<h1> Level 3 </h1>

<h2 class="card learn-card-text"><%= @blanks %></h2>

<%= form_with model: @card, url: learn_card_path(@card), method: :put do |form| %>

  <div>
    <%= form.label :copied, "You are almost there! Copy the text again while filling in the missing letters:", class: "form-label" %>
    <%= form.text_area :copied, value: @copied, class: "form-control" %>
  </div>

  <br>

  <div>
    <%= form.hidden_field :level, value: 3 %>
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>

<% end %>